html
	head
	body
		h1 You are this guy:
		p hey #{neo}
		p #{neo.firstname}
		p #{neo.lastname}
		p #{neo.email} 
		each miep in neo
			p test #{miep.firstname}
			p #{miep.lastname} 
			p #{miep.email} 

